.fixedNav {
  background-color: #252525;
  color: white;
  padding-left: 2rem;
  z-index: 999;
  align-items: center;
  position: sticky;
  top: 0;
  height: 10vh;
}
/*//////////////*/
.menu {
  display: none;
  font-size: 28px;
}
.fixedNav .App-logo {
  margin-top: -20px;
  height: 10vh;
  width: 20%;
  border-radius: 50%;
}
.fixedNav ul li {
  margin-top: 20px;
  list-style: none;
}
.fixedNav ul li a {
  text-decoration: none;
  color: white;
}
.fixedNav ul .logout:hover {
  text-decoration: underline;
  color: blueviolet;
  font-weight: bold;
  font-size: 20px;
}

/* ////////// */
@media (min-width: 100px) and (max-width: 1200px) {
  .fixedNav {
    height: 20vh;
  }
  .fixedNav .App-logo {
    height: 10vh;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
}
