.fixedNav {
  background-color: #252525;
  color: white;
  padding-left: 2rem;
  z-index: 999;
  align-items: center;
  position: sticky;
  top: 0;
  height: 10vh;
}
/*//////////////*/
.menu {
  display: none;
}
.fixedNav .App-logo {
  margin-top: -20px;
  height: 10vh;
  width: 20%;
  border-radius: 50%;
}
.fixedNav ul li {
  margin-top: 20px;
  list-style: none;
}
.fixedNav ul li a {
  text-decoration: none;
  color: white;
}
.logoutIcon {
  position: relative;
  top: 2px;
  right: 4px;
}

.fixedNav ul .logout:hover {
  text-decoration: underline;
  background-color: white;
  width: fit-content;
  border-radius: 30px;
  height: fit-content;
  padding-bottom: 5px;
}
.fixedNav ul .logout:hover a {
  color: rgb(17, 68, 208);
}

/* ////////// */
@media (min-width: 100px) and (max-width: 1200px) {
  .fixedNav {
    height: 20vh;
  }
  .fixedNav .items{
    display: flex;
    justify-content: space-between;
  }
  .fixedNav .App-logo {
    height: 10vh;
  }
  .menu {
    display: block;
    cursor: pointer;
    font-size: 28px;
    position: relative;
    left: 6px;
    bottom: 10px;
    border: 1px solid white;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
  }
  ul {
    position: relative;
  }
  #date {
    display: none !important;
  }

}
